# MongoDB
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB_NAME=ai_task_manager

# Ollama LLM
OLLAMA_MODEL=qwen2.5:1.5B-Instruct
OLLAMA_BASE_URL=http://localhost:11434
LLM_TEMPERATURE=0.3
LLM_MAX_TOKENS=8192